.nav__wrap {
  position: absolute;
  width: 100%;
  background-color: $brown;
  z-index: 100;
}

.nav {
  @include container();
  display: flex;
  justify-content: space-between;
}

.nav__link {
  padding: 19px;
  font-size: 20px;
  line-height: 18px;
  color: $whited;
  
  &:hover {
    background-color: $red;
  }
}

